.emodal.alert{
	height: auto;
	header{
		padding: .75rem;
		.btns{
			top: 0;
			right: 0;
			    height: 100%;
			.btn-close{
			    height: 100%;
			    width: 50px;
			    border-radius: 0;
			    margin: 0;
			    background: none !important;
			    box-shadow: none;
			    &::after,&::before{
			    	content: '';
			    	position: absolute;
			    	top: 50%;
			    	left: 0;
			    	height: 2px;
			    	border-radius: 2px;
			    	width: 60%;
			    	left: 20%;
			    	transform: rotate(45deg);
			    	background: #666;
			    }
		    	&::before{
		    		transform: rotate(-45deg);
		    	}
			}
		}
	}
	.wrap{
		height: auto;
		margin: 0;

	}
}