.emodal.mojave {
  $r: 8px;
	  border-radius: $r;
    background: #31353d;
    background: linear-gradient(130deg, #31353d, #2f3640);
    box-shadow: 0 25px 60px rgba(64, 72, 90, .2), 0 0 30px rgba(0, 0, 0, .1);
    color: #e5e5e5;
    header {
      color: #fff;
      border-radius: $r $r 0 0;
      background: rgba(#000,.04);
      border-bottom: 1px solid rgba(#000,.07);
      .title {

      }
      
    }
    footer.default{
      ._btn.cancel{
        color: #6c7883;
        border: none;
        box-shadow: none;
      }
      ._btn.cancel:hover{
        color: #fff;
        background: rgba(#fff,.03);
        text-shadow: 0 0 5px rgba(#fff,.03);
      }
    }
    .custom-file-label,.form-control,.custom-select{
        background-color: #17212b;
        border-color: #101921;
        color: #ccc;
        &:focus{
          color: #fff;
        }
    }
    .custom-file-label::after{
      color: #87949e;
      background: rgba(0, 0, 0, 0.18);
      border-color: #101921
    }
    .custom-select{
      background: #17212b url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23aaa' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
      background-size: 8px 10px;
    }
}
    

.emodal.alert{
  header{
    .btns{
      .btn-close{
          &::after,&::before{
            background: #aaa;
          }

      }
    }
  }
}